@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body{
    background: #fff;
    color: #333;
    text-align: center;
    padding: 20px;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

h1{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}
p{
    max-width: 600px;
    margin: 0 auto 20px auto;
    line-height: 1.6;
    font-size: 1rem;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    font-weight: 400;
}
.btn {
        display: inline-block;
        background: #333;
        color: white;
        padding: 10px 20px;
        border-radius: 6px;
        text-decoration: none;
        font-weight: bold;
        margin-bottom: 40px;

}
.btn:hover{
    background-color: brown;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
}
 .gallery img {
        width: 100%;
        border-radius: 12px;
        display: block;
    }


    @media (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
    }
    p {
        font-size: 0.9rem;
        padding: 0 10px;
    }
    .gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    }

    @media (min-width: 601px) and (max-width: 1024px) {
    h1 {
        font-size: 1.8rem;
    }
    .gallery {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    }

    
    @media (min-width: 1025px) {
    h1 {
        font-size: 2.5rem;
    }
    .gallery {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    }